
  <a href="/">Home</a>
  <a href="/destinations">Destinations</a>
  <a href="/travelers">Travelers</a> 
  <a href="/sessions/new">Login</a>
  <a href="/travelers/new">Register</a>

<form class="nav" action="/sessions?_method=DELETE" method="post">
    <input  class= "btn" type="submit" name="" value="LOGOUT">
</form>
