<nav>
  <a href="/">Home</a> <a href="/destinations">Destinations</a> <a href="/travelers">Travelers</a> <a href="/sessions/new">Login</a>

<form class="" action="/sessions?_method=DELETE" method="post">
    <input type="submit" name="" value="LOGOUT">
</form>

</nav>
</nav>
