<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
        <%include ../partials/nav.ejs%>
    </nav>
  

    <footer>
      <% include ../partials/footer.ejs%>
    </footer>
  </body>
</html>
