<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/destIndex.css">
    <title></title>
  </head>
  <body>
    <nav>
        <%include ../partials/nav.ejs%>
    </nav>

      <% for(i=0; i < travelers.length; i++){%>
        <div class="traveler">
          <%=travelers[i].image%>
        </div>
      <%}%>


    <footer>
      <% include ../partials/footer.ejs%>
    </footer>
  </body>
</html>
