<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/main.css">
    <title></title>
  </head>
  <body>

  <main>

<!--=====HEADER======== -->
    <header>

        <% include ./partials/nav.ejs %>

        <h1>Travels <span class="headTitle">Uncovered</span></h1><br/>


    </header>

    <section class="categories">
      <!-- <h1>EXPLORE</h1> -->

<ul>


       <li class="category">
         <h2>GO!</h2>
         <a href="/destinations"><img class="imgCat" src="../../images/pexels-RoadTrip.jpeg" alt="place"></a>
         <h3>Check Out Our Favorite Destinations</h3>
       </li>


       <li class="category">
         <h2>SEE!</h2>
         <a href="#"><img class="imgCat"src="../../images/Louvre.jpg" alt="site"></a>
         <h3>Check Out Our Favorite Attractions</h3>
       </li>


        <li class="category">
          <h2>EAT!</h2>
          <a href="#"> <img class="imgCat" src="../../images/Escargot.jpg" alt="food"></a>
          <h3>Check Out Our Favorite Places to Eat!</h3>
        </li>
    </ul>
    </section>


   <section class="community">
     <h1> Our Traveler's</h2>
       <img src="#" alt="">
       <img src="#" alt="">
       <img src="#" alt="">
       <img src="#" alt="">
       <img src="#" alt="">
       <img src="#" alt="">

   </section>

     <footer>
        <% include ./partials/footer.ejs %>
     </footer>
   </main>
  </body>


</html>
