<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Travels Uncovered</h1><br/>

      <h3>Home</h3>
      <header>
          <nav>
            <ul>
                <li> <a href="#">About</a> </li>
                <li> <a href="/destinations"> Destinations</a> </li>
                <li> <a href="/travelers">Travelers</a> </li>
                <li> <a href="/travelers/login">LogIn</a> </li>
               <li> <a href="/register">Register</a> </li>
            </ul>
          </nav>

          <img src="https://images.pexels.com/photos/358482/pexels-photo-358482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
      </header>

  <section>
    <h1>EXPLORE</h1>
     <div class="">
       <h2>GO!</h2>
       <img src="https://www.pexels.com/photo/asphalt-environment-grass-highway-239520/" alt="place">
       <h4>Check Out Our Favorite Destinations</h4>
     </div>


     <div class="">
       <h2>SEE!</h2>
       <img src="../../public/images/Escargot.jpg" alt="site">
       <h4>Check Out Our Favorite Attractions</h4>
     </div>


      <div class="">
        <h2>EAT!</h2>
        <h4>Attractions</h4>
        <img src="../../public/images/ChinaApples.jpg" alt="food">
        <h4>Check Out Our Favorite Places to Eat!</h4>
      </div>
  </section>


 <article class="">
   <h2> Our Traveler's</h2>
     <img src="#" alt="">
     <img src="#" alt="">
     <img src="#" alt="">
     <img src="#" alt="">
     <img src="#" alt="">
     <img src="#" alt="">

 </article>

 <footer>

 </footer>

  </body>
</html>
