.body{background-color: #D5DBDB;  }
.container{
  width: 80%;
  margin: 0 auto;
background-color: #F2F3F4;
}

.destList{ display: inline-block;
margin: 30px;
text-align: center;
}

a{padding: 75px;
  margin: 0 auto;
  text-align: center;

}
img{padding: 0px;
   border: 5px solid #d2ddef;
}
