
 /* #F5F5F5 */
 /* linear-gradient( to right, #d2ddef, white); */
/*
RGB Decimal :75, 117, 195 */

body{
  background:none;
}
.container{ width: 100%;
  margin-top: 100px;
}

/* h1{
  margin: 0;
} */

.imgPost{ margin: 0 auto;
background-color: #Ffffff;
  text-align: center;
    /* border: 3px solid lightblue; */
}

img{
  height:300px;
  /* width:300px; */
}


.content{
  margin: 0 auto;
  width: 60%;
padding:  0 7%;
  background: rgb(75, 117, 195, .1);;
  border-top: 1px dotted blue;
    border-bottom: 1px dotted blue;
  /* background: linear-gradient(to right, rgb(245, 245, 245, .5), white); */

}

h3{font-size: 30px;
  text-decoration: underline;
}

p{
  font-size: 20px;
}
