<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/forms.css">
    <title></title>
  </head>
  <body>
    <nav>
        <% include ../partials/nav.ejs %>
    </nav>

      <h1>Create New Travel Post</h1>




      <form class="" action="/destinations/new" method="POST">
      <div class="container">
          <fieldset> <h4>Destination</h4>  </fieldset>
<div class="rows">


        <hr>
          <label for="">City*:</label> <input type="text" name="city" value=""><br/>

          <hr>
            <label for="">Country*:</label>
            <input class="txtbx" type="text" name="country" value=""><br/>
          <hr>
              <label for="">State/Region:</label>
              <input class="txtbx"type="text" name="stateRegion" value=""><br/>
          <hr>
              <label for="">Photo(s)*:</label>
              <inputclass="txtbx" type="text" name="img1" value=""><br/>
        <hr>
            <label for="">Photo(s)*:</label>
            <input class="txtbx" type="text" name="img2" value=""><br/>
          <hr>
                <label for="">Photo(s)*:</label>
                <inputclass="txtbx" type="text" name="img3" value=""><br/>
          <hr>
              <label for="">Date of Travel:</label>
              <input class="txtbx" type="text" name="dateOfVisit" value=""><br/>
          <hr>
              <label for="">Tags*:</label>
                <input class="txtbx" type="text" name="tags" value=""><br/>
          <hr>
              <label for="">Reccomendations:</label>
              <input class="txtbx" type="text" name="recco" placeholder="Favorite restaurant, attraction, accomodations?"value=""><br/>
          <hr>
              <label for="">Adventures:</label>
              <textarea name="description" rows="8" cols="80"></textarea>
</div>
          <hr>
            <input type="SUBMIT" name="" value="SHARE YOUR TRAVELS!">
             </div>
      </form>

      <footer>
        <% include ../partials/footer.ejs%>
      </footer>

  </body>
</html>
