<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> Show Destination</h1>

       Destination: <%= destination.city%>, <%= destination.country%> <br/>
       <div class="">
       <img src="#" alt="">
        </div>
       Description: <%= destination.description%>

  </body>
</html>
