<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Travelers UnFolded</h1><br/>

      <h3>Home</h3>
      <nav>
        <ul>
            <li> <a href="#">About</a> </li>
            <li> <a href="#"> Destinations</a> </li>
            <li> <a href="#">Travelers</a> </li>
            <li> <a href="#">LogIn</a> </li>
           <li> <a href="#">Register</a> </li>
        </ul>
      </nav>
  </body>
</html>
